apdev-flights-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:americanapi="http://www.mulesoft.org/schema/mule/americanapi"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/americanapi http://www.mulesoft.org/schema/mule/americanapi/current/mule-americanapi.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="setcode" doc:id="d4d7224c-0492-4ef3-977a-353546330558" >
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="bd4c7989-88a4-4f84-a4ab-0fe252e0128b" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="4216cdae-a5f0-4de1-8e24-db08cd9c79a7" >
		<http:listener doc:name="GET /american" doc:id="4adc0043-a854-4deb-aa10-c015867b0c78" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="setcode" doc:id="434ddf05-365b-4d12-9811-d0442ad6e658" name="setcode"/>
		<americanapi:get-flights doc:name="Get flights" doc:id="d5ada6c3-d939-4fee-8dd2-a85d7f1306eb" config-ref="American_api_Config" client-id="${american.client_id}" client-secret=" ${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="69725299-b25c-4f1c-9c58-f9fd4eb00d2a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6b551213-d6e0-4df5-ab90-fae31202240d" />
	</flow>
	<flow name="getUnitedFlights" doc:id="8e50a7dc-64d6-4d4b-9e7b-902d59cfe466" >
		<http:listener doc:name="GET/united" doc:id="a2b18419-fbcd-4320-b5d6-67e04e03b607" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="setcode" doc:id="7fe21a33-26ba-4b84-9289-e5c646d1ee08" name="setcode"/>
		<http:request method="GET" doc:name="Get flights" doc:id="a743da19-40ab-4aaa-95a5-b9330c408b3e" config-ref="HTTP_Request_configuration_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="27654c69-dca3-4862-8c5e-14302f763943" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="982552df-b59c-4660-a7eb-ef219dfa9c90" />
	</flow>
	<flow name="getDeltaFlights" doc:id="48dbb5b6-0055-468c-acd9-bbf090ad7ae2" >
		<http:listener doc:name="GET /delta" doc:id="ec675e51-f6fd-4678-bea9-5278fee26367" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<flow-ref doc:name="setcode" doc:id="3a73634b-93b2-4aa2-893c-e6d4a43ef095" name="setcode"/>
		<ee:transform doc:name="Pass code" doc:id="f027c608-29a1-4c28-9b06-ca4b82bab9ee" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Get flights" doc:id="853ac809-5a74-4d61-97b8-d3baad088960" config-ref="Delta_Web_Service_Consumer_Config"/>
		<ee:transform doc:name="SOAP to [Flight]." doc:id="62dd03b5-543b-4ae3-a2b2-56f615120b3f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="54a3e965-725b-4597-9490-341f2daccd64" />
	</flow>
</mule>
